<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Documents.Core.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Editors.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Excel.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Menus.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Spreadsheet.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Trial" version="23.2.157" targetFramework="net472" />
  <package id="Infragistics.WPF.Undo.Trial" version="23.2.157" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.2.7" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="3.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>